<header>
  <div class="tw-bg-teal-600 tw-py-5 tw-mb-10">
    <nav class="tw-container tw-mx-auto">
      <ul class="tw-flex tw-gap-x-5 tw-text-white tw-text-2xl tw-font-semibold md:tw-justify-end">
        <li><a href="{{ "/" | relURL }}">Home</a></li>
        <li><a href="{{ "/sophrologue-sceaux/" | relURL }}">Sophrologue</a></li>
        <li><a href="{{ "/nutritionniste-sceaux/" | relURL }}">Nutritionniste</a></li>
        <li><a href="{{ "/hypnotherapeute-sceaux/" | relURL }}">Hypnothérapeute</a></li>
        <li><a href="{{ "/psychanalyste-sceaux/" | relURL }}">Psychanalyste</a></li>
        <li><a href="{{ "/location-cabinet-sceaux/" | relURL }}">Location cabinet Sceaux</a></li>
      </ul>
    </nav>
  </div>
  <div class="tw-container tw-mx-auto tw-mb-10">
    <h1 class="tw-text-teal-600 tw-font-semibold tw-text-4xl">{{ .Title }}</h1>
  </div>
</header>
